.NavBar {
    display: flex;
    background: transparent;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background: rgb(130, 131, 141);
}

.Categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Option {
    text-decoration: none;
    border-radius: 25;
    margin: 0 50px;
    width: auto;
    padding: 12px;
    font-size: 30px;
    background: black;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:white;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
}

.ActiveOption {
    text-decoration: none;
    border-radius: 25;
    margin: 0 50px;
    width: auto;
    padding: 12px;
    font-size: 20px;
    background: black;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
}

.NavLink {
    color: rgb(17, 2, 83)
}